<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario</title>
</head>
<body>
    <h2>Formulario de Registro</h2>
    <form action="/procesar" method="POST">
        <label> Nombre: </label>
        <input name="nombre" required minlength="2"> <br>
        <label> Edad: </label>
        <input name="edad" type="number" required min="1"> <br>
        <label> Correo Electrónico: </label>
        <input name="correo" type="email" required> <br>
        
        <button type="submit">Enviar</button>
    </form>
</body>
</html>